@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  margin: 0px 0px 40px
}

.Header-container {
  text-align: center;
  border: 1px solid rgb(194, 194, 194);
  background-color: rgb(247, 247, 247);
  
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(150, 149, 149)
}
