@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  margin: 0px 0px 10px;
}

.Header-container {
  text-align: center;
  border: 1px solid rgb(68, 67, 67);
  background-color: rgb(17, 17, 17);
  z-index: 1;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
}

.particles {
  position: absolute;
z-index: 0;
  right: 100px;
  bottom: 400px;
  left: 0;
 
}

@media (min-width: 200px) and (max-width: 800px) {
  .particles {
   display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1114px) {
  .particles {
    position: absolute;
    z-index: 0;
      right: 100px;
      bottom: 700px;
      left: 0;
  }
}

