@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  margin: 0px 0px 10px;
}

.Header-container {
  text-align: center;
  border: 1px solid rgb(218, 213, 213);
  background-color: rgb(81, 135, 253);
  z-index: 1;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
}

.particles {
  position: absolute;
  z-index: 0;
  right: 100px;
  bottom: 500px;
  left: 0;
}

@media (min-width: 200px) and (max-width: 800px) {
  .particles {
    display: none;
  }
}

@media only screen and (min-width: 1370px) {
  .particles {
    position: absolute;
    z-index: 0;
    right: 100px;
    bottom: 1500px;
    left: 0;
  }
}


