.My-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px 0 10px 0;
  z-index: 9999;
  cursor: pointer;
}

.Picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
