.li-element {
  margin: 10px 160px 10px 20px;
}

.li-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 10px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .li-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
