.li-element {
margin: 2px;
padding: 0px 20px 0 20px;
font-size: 1.2em;
}



.li-container {
 text-align: center;
 border-bottom: 1px solid rgb(255, 254, 254);
 padding: 0 20 0 20px;
 margin: 0px;
}

h3 {
  color: rgb(81, 135, 253);
}

.link-project {
  color:rgb(81, 135, 253);
}

.link-project:hover {
  color: rgb(53, 52, 52);
  font-size: 1.2em;
}

@media (min-width: 200px) and (max-width: 767px) {
  .li-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.project-container {
  margin-top: 0px;
 
}