.project-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em
}

@media (min-width: 200px) and (max-width: 767px) {
  .project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.other-skills-p,
.backend-p,
.front-end-p {
  color:rgb(81, 135, 253);
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 50%;
}
hr.style-eight:after {
  content: "₿";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
